//- src/views/sections/footer.pug
footer.site-footer
    .container.footer-inner
        .footer-top
            .footer-col.footer-col--brand
                a.footer-brand(href="/")
                    img.footer-logo(src="assets/images/footer-logo.svg" alt="BNB Exports logo")
                p.footer-desc
                    | Aenean sed nullam pellentesque suscipit molestie a malesuada dolor sollicitudin
                    | vulputate sed senectus in nunc scelerisque libero praesent orci sit fringilla odio
                    | sem at sed rhoncus tellus sed dignissim enim.

            //- Navigation columns
            .footer-col.footer-col--links
                h4.footer-heading WHO WE ARE
                ul.footer-list
                    li: a(href="#our-story") Our Story
                    li: a(href="#certifications") Certifications
                    li: a(href="#infrastructure") Infrastructure

            .footer-col.footer-col--links
                h4.footer-heading PRODUCTS
                ul.footer-list
                    li: a(href="#seeds") Sesame Seeds
                    li: a(href="#oils") Sesame Oils

            .footer-col.footer-col--links
                h4.footer-heading Solutions
                ul.footer-list
                    li: a(href="#private") Private Label
                    li: a(href="#bulk") Bulk Export
                    li: a(href="#custom") Custom Formulation

            .footer-col.footer-col--links
                h4.footer-heading Stories
                ul.footer-list
                    li: a(href="#insights") Insights
                    li: a(href="#updates") Updates
                    li: a(href="#gallery") Gallery

        // bottom row with copyright & small links
        .footer-bottom
            p.copyright © Copyright 2025 B.N.EXPORTS PVT. LTD. All rights reserved.
            nav.footer-bottom-nav
                ul.footer-bottom-list
                    li: a(href="#privacy") Privacy Policy
                    li: a(href="#terms") Terms & Conditions
                    li: a(href="#cookie") Cookie Settings
