//- src/views/sections/products.pug
section.products-section
    .container
        h2.section-title Our Products

        .products-grid
            .product-card
                .product-card__visual
                    img.product-img(src="assets/images/product.png" alt="Virgin Sesame Oil")
                .product-card__caption Virgin Sesame Oil

            .product-card
                .product-card__visual
                    img.product-img(src="assets/images/product.png" alt="Refined Sesame Oil")
                .product-card__caption Refined Sesame Oil

            .product-card
                .product-card__visual
                    img.product-img(src="assets/images/product.png" alt="Roasted Sesame Oil")
                .product-card__caption Roasted Sesame Oil
