//- src/views/sections/products.pug
include ../mixins/product-card.pug

section.products-section
    .container
        h2.section-title Our Products

        .products-grid
            +productCard('assets/images/product.png', 'Virgin Sesame Oil', 'Virgin Sesame Oil')
            +productCard('assets/images/product.png', 'Refined Sesame Oil', 'Refined Sesame Oil')
            +productCard('assets/images/product.png', 'Roasted Sesame Oil', 'Roasted Sesame Oil')
