section
    .video-wrapper(data-video-id="LXb3EKWsInQ")
        img.video-thumb(src="assets/images/video-thumbnail.png" alt="Watch our story")
        button.play-btn(type="button" aria-label="Play video")
            span ▶
