//- src/views/mixins/product-card.pug
mixin productCard(imgSrc, altText, caption)
    .product-card
        .product-card__visual
            img.product-img(src=imgSrc, alt=altText)
        .product-card__caption= caption
