doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title BNB Exports

        // Google Fonts: Inter, Onest, and Sora
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&family=Sora:wght@100..800&display=swap"
        rel="stylesheet"
        )

        // Main CSS
        link(rel="stylesheet" href="assets/css/main.css")
    body
        include ../components/navbar.pug

        main
            block content

        include ../sections/footer.pug

    script(src="assets/js/main.js" defer)
    script(src="assets/js/video.js" defer)

